@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"style="margin-left:auto;margin-right:auto;width:70%;background: white">
    <h1>Sistema de registro</h1>
    <p style="font-size:110%" class="lead">Pulsa el botón entrar para acceder a la ventana de registros de la aplicación
    y posteriormente ver los datos que insertaste anteriormente. </p>
    <p>@Html.ActionLink("Entrar","Registrar","Home", new { @class="btn btn-primary btn-lg"})</p>
</div>

